Repository bcgov/nr-spar-oracle-api, pull requests merged in 2022-09, with the labels that each got.

#26 fix: disable badge commit for now
  .github/workflows/pr-open.yml
Labels: bug, fix

#28 feat: init postman collection
  test/postman/starting-api.postman_collection.json
  test/postman/starting-api.postman_environment.json
Labels: enhancement, feature

#27 feat: add user test endpoint
  .github/badges/branches.svg
  .github/badges/jacoco.svg
  .github/openshift/deploy.backend.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  CONTRIBUTING.md
  README.md
  pom.xml
  src/main/java/ca/bc/gov/backendstartapi/config/CorsConfig.java
  src/main/java/ca/bc/gov/backendstartapi/dto/UserDto.java
  src/main/java/ca/bc/gov/backendstartapi/endpoint/RestExceptionEndpoint.java
  src/main/java/ca/bc/gov/backendstartapi/endpoint/UserEndpoint.java
  src/main/java/ca/bc/gov/backendstartapi/exception/EmptyObjectNotSupportedException.java
  src/main/java/ca/bc/gov/backendstartapi/exception/UserExistsException.java
  src/main/java/ca/bc/gov/backendstartapi/exception/UserNotFoundException.java
  src/main/java/ca/bc/gov/backendstartapi/repository/UserRepository.java
  src/main/java/ca/bc/gov/backendstartapi/response/ExceptionResponse.java
  src/main/java/ca/bc/gov/backendstartapi/response/FieldExceptionResponse.java
  src/main/java/ca/bc/gov/backendstartapi/util/Empty.java
  src/main/java/ca/bc/gov/backendstartapi/util/ObjectUtil.java
  src/main/resources/application.properties
  src/test/java/ca/bc/gov/backendstartapi/dto/UserDtoTest.java
  src/test/java/ca/bc/gov/backendstartapi/endpoint/CheckEndpointTest.java
  src/test/java/ca/bc/gov/backendstartapi/endpoint/UserEndpointTest.java
  src/test/java/ca/bc/gov/backendstartapi/repository/UserRepositoryTest.java
  src/test/java/ca/bc/gov/backendstartapi/util/ObjectUtilTest.java
Labels: enhancement, feature, coverage, source

#31 feat: add api tests for user endpoint
  test/postman/starting-api.postman_collection.json
  test/postman/starting-api.postman_environment.json
Labels: enhancement, feature
